*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

html {
    color-scheme: dark light;
}

body {
    min-height: 100%;

    font: {
        family: 'Courier New', Courier, monospace;
        size: 1.1rem;
    }
}

.text {
    margin: 1rem;
    text-align: center;
}

.box {
    display: block;
    margin: 1rem auto;
    padding: 1rem;
    border-radius: .5rem;
    outline: transparent;

    &:focus {
        box-shadow: 0 0 15px #fff;
    }
}

h1 {
    font-size: 3rem;
}

#input {
    width: min(800px, calc(100% - 2rem));
    height: 50vh;
    min-height: 25vh;
    resize: vertical;
}

p {
    font: {
        size: 1.2rem;
        weight: bold;
    }
}

#output {
    list-style-type: none;
}